@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button:disabled {
  background-color: #666;
}

a{
  color: #007bff;
}
a:hover{
  color: #0051b3;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.milestone {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
}

.milestone-date {
  font-size: 1.2em;
  font-weight: bold;
  width: 150px; /* Fixed width for the date */
  color: #007bff; /* Change this color to suit your theme */
  margin-right: 15px;
}

.milestone-details {
  flex-grow: 1;
  text-align: left; /* Aligns the content to the left */
}

.milestone-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: left; /* Aligns the title to the left */
}

.milestone-description {
  font-size: 1em;
  color: #666;
  text-align: left; /* Aligns the title to the left */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0; /* Adjust as needed */
}

td, th {
  padding-left: 4px; 
  padding-right: 4px; 
  text-align: left;
  font-size: 14px; /* Set a smaller font size, adjust as needed */
}